body{
    margin-bottom: 30px;
}

.title{
    text-align: center;
    background-color: rgb(41, 14, 14);
    margin-top: 10px;
    padding: 10px;
    color: rgb(218, 218, 218);
}

.formExile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 10px 0;
    -webkit-box-shadow: 5px 0px 9px -4px #000000; 
    box-shadow: 5px 0px 9px -4px #000000;
}

.formExile label{
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(88, 88, 88);
}

.formExile .getId{
    width: 50px;
    height: 30px;
    outline: 0;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid gray;
    text-align: center;
    font-size: 17px;
}

.formExile .getId:nth-of-type(1){
    margin-bottom: 20px;
}

.formExile textarea{
    resize: none;
    width: 400px;
    height: 200px;
    outline: 0;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.formExile select{
    border: 1px solid gray;
    padding: 4px;
    outline: 0;
    border-radius: 5px;
}

.box-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formExile a,
.formExile button{
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    outline: 0;
    text-align: center;
    border: 1px solid gray;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.formExile button{
    background-color: brown;
}

.formExile button:hover{
    background-color: rgb(150, 37, 37);
}

.formExile a{
    background-color: rgb(126, 126, 126);
    margin-right: 10px;
}

.formExile a:hover{
    background-color: rgb(116, 116, 116);
}



@media screen and (max-width: 600px) {
    .title{
        font-size: 18px;
    }
    .formExile label{
        font-size: 16px;
    }
    .formExile button{
        font-size: 10px;
        padding: 10px 20px;
    }
    .formExile select{
        font-size: 13px;
    }
    .formExile textarea{
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .formExile textarea{
        width: 90%;
    }
}