body{
    background-color: #d6d6d6;
}

.btnMobile{
    display: none;
    position: fixed;
    left: 270px;
    top: 45%;
    font-size: 30px;
    cursor: pointer;
    color: #818181;
    z-index: 999;
}

.screen{
    display: flex;
    font-family: 'Lato', sans-serif;
}

.box-menu{
    width: 270px;
    height: 100vh;
    position: fixed;
    max-height: 100%;
    background-color: #0a0909;
    border-right: 1px solid rgb(17, 17, 17);
    overflow-y: auto;
    padding-bottom: 30px;
    z-index: 999;
}

.box-menu .logo{
    width: 100%;
    height: 60px;
    background-color: #006db6;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-menu .logo h1{
    font-size: 20px;
} 

.infoUser{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(31, 31, 31);
    color: white;
}

.infoUser img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.infoUser span{
    font-size: 14px;
}

.infoUser span i{
    font-size: 10px;
}

.helper{color:#e5ff00;}
.moderator{color:#aa0000;}
.administrator{color:#0082d9;}
.owner{color:#3b00df;}

.menu{
    width: 100%;
}

.btnBox,
.menu a{
    width: 100%;
    color: white;
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.menu a:hover:not(.mainClose){
    background-color: #1a1a1a;
}

.btnBox i,
.menu a > i{
    font-size: 14px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.btnBox p,
.menu a > p{
    margin-right: 10px;
}
.selected{
    background-color: #1a1a1a;
}
.mainClose{
    background-color: #aa0000;
}

.boxBtns{
    display: none;
}


.iconSubMenu{
    font-size: 6px !important;
    position: relative;
    top: 7px !important;
    margin-right: 5px !important;
    margin-left: 20px;
}

.box-content{
    width: calc(100% - 270px);
    margin-left: 270px;
}

@media screen and (max-width: 1200px){
    .btnMobile{
        display: block;
    }
    .box-content{
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 310px){
    .box-menu{
        width: 240px;
    }
    .btnMobile{
        left: 240px;
    }
    
}