.bar{
    width: 100%;
    height: 60px;
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    font-size: 23px;
}

.bar a{
    border: 1px solid rgb(148, 148, 148);
    margin-right: 5px;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.pending{
    background-color: rgb(255, 174, 0);
    color: rgb(65, 65, 65);
}

.pending:hover{
    background-color: rgb(241, 165, 0);
}

.resolved{
    background-color: rgb(20, 204, 0);
    color: rgb(32, 32, 32);
}

.resolved:hover{
    background-color: rgb(20, 196, 0);
}

.ignored{
    background-color: rgb(184, 20, 20);
    color: rgb(211, 211, 211);
}

.ignored:hover{
    background-color: rgb(156, 17, 17);
}

.flash{
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.flash i{
    margin-right: 5px;
}

.success{
    background-color: rgb(0, 245, 0);
}

.error{
    background-color: red;
    color: white;
}

.title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--select);
    font-size: 23px;
    font-weight: lighter;
}

.box-comment{
    width: 100vw;
    max-width: 100%;   
}

.commentSingle{
    width: 90%;
    background-color: var(--menuBackground);
    margin: 10px;
    padding: 20px 20px 30px 20px;
    margin: 0 auto;
    color: var(--select);
    -webkit-box-shadow: 0px 2px 14px -7px #000000; 
    box-shadow: 0px 2px 14px -7px #000000;
    margin-bottom: 10px;
}

.box-info{
    width: 100%;display: flex;
    margin-bottom: 20px;
}

.box-info span{
    font-size: 12px;
    color: rgb(87, 87, 87);
}

.box-info img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
}

/***/
.box-writeAReply{
    width: 90%;
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.box-writeAReply h1{
    color: rgb(31, 31, 31);
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.box-writeAReply form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-writeAReply form textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid rgb(117, 117, 117);
    resize: none;
    padding: 20px;
}

.box-writeAReply button{
    padding: 10px 50px;
    margin: 10px auto;
    cursor: pointer;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid gray;
    text-transform: uppercase;
    color: var(--select);
}

.box-writeAReply button:hover{
    background-color: rgb(231, 231, 231);
}


/***/
.box-pagination{
    background-color: rgb(209, 209, 209);
    border: 1px solid rgb(177, 177, 177);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}

.box-pagination li{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    text-align:  center;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.box-pagination li:hover:not(.paginationSelected){
    background-color: rgb(218, 218, 218);
}

.paginationSelected{
    background-color: #4db2ec!important;
    color: white;
}

@media screen and (max-width: 700px){
    .box-pagination li{
        width: 17px;
        height: 17px;
        font-size: 10px;
        line-height: 17px;
        margin-right: 5px;
        border-radius: 5px;
    }
    
}