.screen{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url('../../images/background4.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen form{
    width: 400px;
    padding: 40px 0;
    border-radius: 10px;
    background-color: rgba(3, 15, 65, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen form label{
    width: 90%;
    padding: 6px 0;
    display: flex;
    margin-bottom: 15px;
}

.screen form label input[type=checkbox]{
    margin-right: 5px;
}

.screen form label p{
    color: white;
    position: relative;
    bottom: 2px;
}

.screen .title{
    color: white;
    font-weight: lighter;
    margin-bottom: 15px;
}

.screen form input:not(input[type=checkbox]){
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid gray;
    color: rgb(95, 95, 95);
    margin-bottom: 10px;
    outline: 0;
    font-size: 16px;
    text-align: center;
}

.screen form button{
    width: 40%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #00c7b6;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.screen form button:hover{
    background-color: #00b8a8;
}

@media screen and (max-width: 420px) {
    .screen form{
        width: 90%;
    }
    .screen form input{
        width: 90%;
        padding: 10px;
    }
}