body{
    margin-bottom: 40px;
}

.title{
    text-align: center;
    margin-top: 20px;
    font-weight: lighter;
    font-size: 30px;
}

.firstSection{
    width: 100%;
    display: flex;
    background-color: rgb(211, 211, 211);
    border: 1px solid gray;
    margin-top: 20px;
}

.div1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid gray;
    padding: 20px;
}

.div2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.formText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subTitle{
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.subTitle i{
    font-size: 16px;
}

.boxRadios{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxRadios p{
    margin-right: 20px;
    margin-left: 3px;
}

.formText input[type=number],
.formText select{
    width: 200px;
    outline: 0;
    border: 1px solid gray;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
}

@media screen and (max-width: 620px){
    .title{
        font-size: 24px;
    }
    .firstSection{
        flex-direction: column;
    }
    .div1{
        padding: 0;
        width: 100%;
        border-right: 0;
    }
    
    .div2{
        width: 100%;
        padding: 0;
        padding-bottom: 40px;
    }
    .formText input[type=number],
    .formText select{
        padding: 7px;
        font-size: 10px;
    }
    .subTitle{
        font-size: 16px;
    }
}

@media screen and (max-width: 430px){
    .title{
        font-size: 18px;
    }
    .subTitle{
        font-size: 15px;
    }
    .formText input[type=file]{
        font-size: 10px;
    }
}
/***/

.secondSection{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.box1{
   width: 50%; 
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
}

.box2{
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.secondSection input{
    width: 400px;
    padding: 7px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.secondSection .content{
    width: 100%;
    min-height: 300px;
    padding: 10px;
    outline: 0;
    border: 1px solid gray;
    font-size: 16px;
    background-color: white;
}


.formText button{
    width: 200px;
    height: 50px;
    outline: 0;
    border: 1px solid gray;
    background-color: rgb(0, 81, 255);
    border-radius: 5px;
    margin-top: 30px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.formText button:hover{
    background-color: rgb(0, 76, 240);
    color: white;
}

@media screen and (max-width: 930px){
    .secondSection input{
        width: 80%;
        font-size: 16px;
    }
    .secondSection .content{
        font-size: 14px;
    }
}

@media screen and (max-width: 730px){
    .secondSection{
        flex-direction: column;
    }
    
    .box1{
        width: 100%;
    }
    
    .box2{
        width: 100%;
        margin-top: 20px;
    }

    .secondSection input{
        width: 70%;
        margin-bottom: 10px;
    }
    .secondSection .content{
        width: 85%;
    }
    .formText button{
        margin-top: 10px;
    }
}

@media screen and (max-width: 620px){
    .formText button{
        width: 100px;
        height: 40px;
        font-size: 10px;
    }
}

@media screen and (max-width: 480px){

    .secondSection input{
        width: 90%;
    }
    .secondSection .content{
        width: 100%;
    }
}
