.view{
    padding: 30px 0;
}

.title{
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    color: rgb(75, 75, 75);
    width: max-content;
    border-bottom: 3px solid rgb(0, 195, 255);
    margin-left: 13px;
}

.box-info{
    width: 98%;
    height: 500px;
    border-top: 1px solid rgb(148, 148, 148);
    padding-top: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.infoSingle{
    display: flex;
}

.box-info img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid rgb(148, 148, 148);
    margin-bottom: 20px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.infoSingle{
    width: 40%;
    min-width: max-content;
    word-wrap: break-word;
    display: flex;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 10px;
    -webkit-box-shadow: -1px 1px 5px -1px #8a8a8a; 
    box-shadow: -1px 1px 5px -1px #8a8a8a;
    padding: 10px 10px 0 10px;
}

.infoSingle:nth-of-type(5){
    margin-bottom: 20px;
}

.infoSingle .title2{
    font-family: 'Lato', sans-serif;
    margin-right: 10px;
    font-size: 16px;
}

.infoSingle .title2 i{
    margin-right: 5px;
    color: rgb(0, 140, 255);
}

.infoSingle p{
    margin-bottom: 10px;
    width: 80%;
}

.button{
    padding: 10px;
    background-color: rgb(0, 153, 255);
    margin: 0 auto;
    border-radius: 5px;
    color: white;
}

.button:hover{
    background-color: rgb(0, 144, 240);
    color: rgb(240, 240, 240);
}

@media screen and (max-width: 1020px){
    .infoSingle{
        width: 70%;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 800px){
    .title{
        font-size: 19px;
    }
}


@media screen and (max-width: 650px){
    .box-info img{
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    .title{
        font-size: 16px;
    }
    .infoSingle .title2{
        font-size: 12px;
    }
    .infoSingle p{
        font-size: 12px;
    }
    .button{
        font-size: 13px;
    }
}

@media screen and (max-width: 580px){
    .infoSingle{
        width: 95%;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 410px){
    .infoSingle .title2{
        font-size: 10px;
    }
    .infoSingle p{
        font-size: 10px;
        width: 75%;
    }
    .button{
        font-size: 10px;
    }
}

@media screen and (max-width: 310px){
    .infoSingle .title2{
        font-size: 9px;
    }
    .infoSingle p{
        font-size: 9px;
    }
    .button{
        font-size: 9px;
    }
}