.empty{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(20, 20, 20);
    border: 1px solid rgb(168, 168, 168);
    border-top: 0;
    padding: 5px;
}

.note{
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: -1px -2px 15px -4px #000000; 
    box-shadow: -1px -2px 15px -4px #000000;
    text-align: center;
    background-color: rgb(255, 221, 25);
}

.note h1{
    color: rgb(24, 24, 24);
    font-weight: lighter;
    margin-bottom: 10px;
}

.note h1 i{
    margin-right: 5px;
    font-size: 20px;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.search input{
    width: 400px;
    padding: 10px;
    border: 1px solid rgb(197, 197, 197);
    outline: 0;
    border-radius: 5px;
    font-size: 17px;
}
.search button{
    width: 100px;
    background-color: rgb(0, 26, 255);
    color: white;
    padding: 10px 0;
    border: 0;
    outline: 0;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search button i{
    margin-right: 5px;
}

.search button:hover{
    background-color: rgb(0, 24, 243);
    color: rgb(243, 243, 243);
}

.title{
    margin-top: 30px;
    margin-left: 65px;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(46, 46, 46);
}

.registerNew{
    padding: 10px 20px;
    background-color: rgb(255, 145, 0);
    margin-left: 65px;
    border-radius: 5px;
    color: rgb(41, 41, 41);
}

.registerNew:hover{
    background-color: rgb(247, 140, 0);
}

.registerNew i{
    margin-right: 5px;
}

table{
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgb(168, 168, 168);
}

th{
    border-bottom: 1px solid rgb(168, 168, 168);
    padding: 5px;
    background-color: rgb(255, 123, 0);
    color: white;
}

.staffColor{
    background-color: rgb(38, 0, 255);
}

td{
    border-bottom: 1px solid rgb(168, 168, 168);
    padding: 10px 0;
}

td a{
    color: rgb(0, 157, 230);
}

td a:hover{
    color: rgb(0, 136, 199);
}

.btn{
    background: rgb(0, 140, 255);
    border-radius: 5px;
    padding: 5px 5px;
    color: white;
}

.btn:hover{
    background: rgb(0, 132, 240);
    color: rgb(240, 240, 240);
}

.seeReports i{
    font-size: 14px;
    margin-right: 5px;
}

@media screen and (max-width: 700px){
    .title{
        margin-top: 30px;
        margin-left: 20px;
        font-size: 18px;
    }   
    table{
        width: 97%;
        font-size: 12px;
    } 
    .btn{
        padding: 2px 4px;
        font-size: 12px;
    }
    .search input{
        font-size: 12px;
    }
    .search button{
        font-size: 12px;
        width: max-content;
        padding: 8px 8px;
    }
}

@media screen and (max-width: 430px){
    .title{
        font-size: 13px;
    }   
    .btn,
    table{
        font-size: 10px;
    }
    .search input{
        width: 90%;
        font-size: 10px;
    }
    .search button{
        font-size: 10px;
    }
}

@media screen and (max-width: 350px){
    .title{
        font-size: 12px;
    }   
    .btn,
    table{
        font-size: 8px;
    }
}