.mainTitle{
    margin-top: 100px;
    text-align: center;
    color:rgb(0, 120, 189);
}

.boxChats{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid var(--border2);
}

.noMsg{
    font-size: 19px;
    padding: 5px;
    text-align: center;
    color: var(--select);
}

.chatSingle{
    width: 100%;
    height: 100px;
    background-color: var(--defaultBackground2);
    border-bottom: 1px solid var(--border2);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.chatSingle:hover{
    background-color: var(--border3);
}

.boxChats .chatSingle:last-child{
    border: 0;
}

.chatSingle img{
    width: 80px;
    height: 80%;
    margin-right: 10px;
    border: 1px solid var(--border2);
    border-radius: 50px;
}

.infoChat{
    width: calc(100% - 110px);
}

.name{
    font-size: 19px;
    font-weight: bold;
    color: rgb(0, 120, 189);
}

.newMsg{
    color: rgb(238, 115, 0);
    font-size: 13px;
}

.infoChat p{
  max-width: 100vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notSeen{
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    .boxChats{
        width: 90%;
    }
}

@media screen and (max-width: 700px){
    .noMsg{
        font-size: 13px;
    }
}

@media screen and (max-width: 600px){
    .chatSingle{
        height: 90px;
    }
    .chatSingle img{
        width: 80px;
    }
    .mainTitle{
        margin-top: 50px;
    }
    .name{
        font-size: 15px;
    }
    .infoChat p{
        font-size: 13px;
    }
}

@media screen and (max-width: 430px){
    .noMsg{
        font-size: 9px;
    }
}