.headerUser{
    width: 60vw;
    max-width: 100%;
    height: 50px;
    background-color: var(--defaultBackground2);
    border: 1px solid var(--border2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.headerUser img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
    border: 1px solid var(--border2);
}

.headerUser .name{
    color: rgb(0, 120, 189);
    font-weight: bold;
}

.headerUser .name:hover{
    color: rgb(0, 105, 167);
}

.headerUser i{
    position: fixed;
    right: 22vw;
    font-size: 25px;
    cursor: pointer;
    color: var(--select);
}

.menu{
    display: none;
    position: fixed;
    right: 22vw;
    top: 105px;
    background-color: var(--menuBackground2);
    border: 1px solid var(--border2);
    border-bottom: 0;
}

.menu li{
    padding: 10px 20px;
    border-bottom: 2px solid var(--border2);
    cursor: pointer;
}

.menu a{
    border-bottom: 2px solid var(--border2);
}

.menu li:hover{
    background-color: var(--border3);
}
/***/
.writeMsg{
    width: 60vw;
    max-width: 100%;
    height: calc(40vh - 60px);
    background-color: var(--border);
    border-top: 1px solid var(--select);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.writeMsg img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 20px;
}

.writeMsg form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writeMsg textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border2);
    background-color: var(--defaultBackgroundContent);
    padding: 10px;
}

.writeMsg button{
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color:rgb(202, 139, 4);
    color: white;
    text-transform: uppercase;
}

.writeMsg button:hover{
    background-color:rgb(199, 136, 0);
    color: rgb(230, 230, 230);
}

@media screen and (max-height: 575px){
    .writeMsg textarea{
        margin-bottom: 0;
        margin-right: 10px;

    }
    .writeMsg form{
        flex-direction: row;
    }
}

@media screen and (max-height: 450px){
    .writeMsg textarea{
        height: 70px;
        
    }
}

@media screen and (max-width: 430px){
    .writeMsg form{
        width: 90%;
    }
    .writeMsg button{
        padding: 10px 6px;
    }
}
/***/

.boxChat{
    width: 60vw;
    max-width: 100%;
    height: calc(60vh - 50px);
    overflow-y: auto;
    background-color: var(--menuBackground2);
    padding: 0 10px;
    margin: 0 auto;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.leftMsg{
    max-width: 100%;
    display: flex;
    padding: 10px 0;
}

.msg{
    max-width: 60%;
    word-wrap: break-word;
    background-color: var(--defaultBackground2);
    border: 1px solid var(--border2);
    border-radius: 10px;
    padding: 10px 15px;
}

.leftMsg img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}
/***/
.rightMsg{
    max-width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content:flex-end;
    align-items: center;
}

.rightMsg img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 10px;
}

@media screen and (max-width: 750px) {
    .msg{
        max-width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .msg{
        max-width: 90%;
    }
}


/*General Responsivel*/
@media screen and (max-width: 900px) {
    .boxChat{
        width: 80vw;
    }
    .writeMsg{
        width: 80vw;
    }
    .headerUser{
        width: 80vw;
    }
    .headerUser i{
        right: 12vw;
    }
    .menu{
        right: 12vw;
    }
}

@media screen and (max-width: 660px) {
    .boxChat{
        width: 90vw;
    }
    .writeMsg{
        width: 90vw;
    }
    .headerUser{
        width: 90vw;
    }
    .headerUser i{
        right: 8vw;
    }
    .menu{
        right: 8vw;
    }
}

@media screen and (max-width: 540px) {
    .boxChat{
        width: 100vw;
    }
    .writeMsg{
        width: 100vw;
    }
    .headerUser{
        width: 100vw;
    }
    .headerUser i{
        right: 3vw;
    }
    .menu{
        right: 3vw;
    }
}