.flash{ 
    background-color: red;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    color: white;
}

.success{
    background-color: rgb(26, 192, 4);
}

.error{
    background-color: rgb(175, 9, 9);
}

.boxEditProfile{
    width: 500px;
    border: 1px solid var(--border);
    background-color: var(--defaultBackground2);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 7% auto;
}

.boxEditProfile img{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.boxEditProfile form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxEditProfile form input:not(input[type=file]):not(input[type=radio]){
    width: 90%;
    padding: 10px 15px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid black;
    box-shadow: 0,0,0,0;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgb(75, 75, 75);
}

.boxEditProfile form input[type=file]{
    font-size: 15px;
    margin-bottom: 20px;
}

.boxBtns{
    display: flex;
}

.boxBtns button{
    padding: 10px 50px;
    margin-right: 10px;
    outline: 0;
    box-shadow: 0,0,0,0;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.return{
    background-color: rgb(134, 21, 21);
}

.return:hover{
    background-color: rgb(116, 18, 18);
}

.save{
    background-color: blue;
    color: rgb(212, 212, 212);
}

.save:hover{
    background-color: rgb(16, 16, 202);
    color: rgb(212, 212, 212);
}

.titleField{
    font-size: 20px;
    color: var(--select);
    margin-bottom: 10px;
    font-weight: 900;
}

.boxInputRadio{
    display: flex;
    margin-bottom: 20px;
}

.inputRadio{
    display: flex;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.inputRadio input[type=radio]{
    margin-right: 5px;
}

select{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    font-size: 18px;
    color: rgb(70, 70, 70);
}

.explanation{
    margin-bottom: 20px;
}

@media screen and (max-width: 520px) {
    .boxEditProfile{
        width: 100%;
        border: 0;
        padding: 0;
        background-color: transparent;
    }
    .boxBtns button{
        padding: 10px 20px;
    }
    .boxEditProfile form input:not(input[type=file]):not(input[type=radio]){
        padding: 8px 15px;
    }
}