body{
    font-family: 'Lato', sans-serif;
}

.box-menuDesktop{
    width: 100vw;
    max-width: 100%;
    height: 80px;
    background-color:  #15004f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return{
    color: white;
    font-size: 20px;
    position: absolute;
    left: 20px;
}

.logo{
    width: 200px;
    height: 50px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: 100% 100%;
}

.contentLogin{
    width: 100vw;
    max-width: 100%;
    text-align: center;
    margin-top: 100px;
}

.contentLogin h1{
    font-weight: lighter;
    margin-bottom: 10px;
}

.contentLogin form{
    width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.contentLogin form input:not(input[type=checkbox]){
    width: 90%;
    padding: 10px;
    font-size: 18px;
    outline: 0;
    box-shadow: 0 0 0 0;
    border: 1px solid rgb(158, 158, 158);
    margin-bottom: 20px;
    border-radius: 5px;
}

.contentLogin form button{
    width: 90%;
    padding: 10px;
    font-size: 18px;
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 0;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #3497d4;
    color: white;
    cursor: pointer;
}

.contentLogin form button:hover{
    background-color: #2383be;
}

.keepConnected{
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.keepConnected input[type=checkbox]{
    margin-right: 6px;
}

.forgetPass{
    color: #0071db;
}

.forgetPass:hover{
    color: #0445a5;
}

.box-alternateLogin{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-alternateLogin a{
    color: black;
}

.alternateLogin{
    margin: 10px;
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

.alternateLogin:hover{
    background-color: rgb(216, 216, 216);
}

.alternateLogin img{
    width: 30px;
    height: 30px;
} 

@media screen and (max-width: 530px) {
    .contentLogin form{
        width: 100%;
    }
    .contentLogin form input:not(input[type=checkbox]){
        width: 90%;
    }
    .box-alternateLogin{
        width: 100%
    }
}

@media screen and (max-width: 350px) {
    .box-menuDesktop{
        justify-content:  flex-end;
    }
    .logo{
        width: 100px;
        height: 30px;
    }
}