.screen{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background-image: url('../images/background1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxInfo{
    width: max-content;
    max-width: 500px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.boxInfo h1{
    margin-bottom: 50px;
    color: rgb(0, 162, 255);
    font-size: 30px;
}

.boxInfo h2{
    margin-bottom: 50px;
    color: rgb(0, 132, 255);
}

.close{
    background-color: rgb(35, 35, 182);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
}

.close:hover{
    background-color: rgb(33, 33, 175);
    color: rgb(240, 240, 240);
}

@media screen and (max-width: 750px) {
    .boxInfo{
        max-width: 80%;
    }
    .boxInfo h1{
        font-size: 19px;
    }
    
    .boxInfo h2{
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .boxInfo{
        max-width: 80%;
    }
    .boxInfo h1{
        font-size: 15px;
    }
    
    .boxInfo h2{
        font-size: 12px;
    }
}