.title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: var(--defaultColor);
}

.savedTexts{
    width: 95vw;
    max-width: 95%;
    margin: 0 auto;
    overflow-x:scroll;
    border-left: 1px solid var(--border2);
    border-right: 1px solid var(--border2);
    border-top: 1px solid var(--border2);
    border-bottom: 1px solid var(--border2);
}

.showcase{
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.textSavedSingle{
    width: 250px;
    margin: 5px;
    border: 1px solid var(--border);
    text-align: center;
    cursor: pointer;
    background-color: var(--defaultBackground2);
}

.textSavedSingle img{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid var(--border);
}

.textSavedSingle h3{
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}
/***/

.textsStudied{
    width: 95vw;
    max-width: 95%;
    padding: 10px;
    border: 1px solid var(--border);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.btnsGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.btnsGroup a{
    padding: 5px 20px;
    width: max-content;
    margin-bottom: 5px;
    border-radius: 10px;
    color: white;
}

.openText{
    background-color: rgb(0, 140, 255);
}

.openText:hover{
    background-color: rgb(0, 125, 228);
}

.deleteText{
    background-color: rgb(185, 26, 26);
}

.deleteText:hover{
    background-color: rgb(172, 20, 20);
}

.noText{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.textsStudied .noText{
    width: 100%;
}

@media screen and (max-width: 600px) {
    .textsStudied{
        justify-content: space-around;
    }
}