.flash{
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.flash i{
    margin-right: 5px;
}

.success{
    background-color: rgb(0, 245, 0);
}

.error{
    background-color: red;
    color: white;
}

.title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--select);
    font-size: 23px;
    font-weight: lighter;
}

.box-comment{
    width: 100vw;
    max-width: 100%;   
}

.commentSingle{
    width: 90%;
    background-color: var(--menuBackground);
    margin: 10px;
    padding: 20px 20px 30px 20px;
    margin: 0 auto;
    color: var(--select);
    -webkit-box-shadow: 0px 2px 14px -7px #000000; 
    box-shadow: 0px 2px 14px -7px #000000;
    margin-bottom: 10px;
}

.box-info{
    width: 100%;display: flex;
    margin-bottom: 20px;
}

.box-info span{
    font-size: 12px;
    color: rgb(87, 87, 87);
}

.box-info img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
}

/***/
.box-writeAReply{
    width: 90vw;
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

.box-writeAReply h1{
    color: var(--select);
    font-size: 23px;
    margin-bottom: 10px;
}

.box-writeAReply form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-writeAReply form textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid var(--border3);
    background-color: var(--color1);
    resize: none;
    padding: 20px;
    color: var(--select);
}

.box-writeAReply button{
    padding: 10px 50px;
    margin: 10px auto;
    cursor: pointer;
    color: aliceblue;
    border-radius: 5px;
    background-color: var(--color1);
    border: 1px solid var(--border);
    text-transform: uppercase;
    color: var(--select);
}

/***/
.box-pagination{
    background-color: var(--border3);
    border: 1px solid var(--border);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}

.box-pagination li{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    text-align:  center;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.box-pagination li:hover:not(.paginationSelected){
    background-color: rgb(218, 218, 218);
}

.paginationSelected{
    background-color: #4db2ec!important;
    color: white;
}

@media screen and (max-width: 700px){
    .box-pagination li{
        width: 17px;
        height: 17px;
        font-size: 10px;
        line-height: 17px;
        margin-right: 5px;
        border-radius: 5px;
    }
    
}